Importing libraries

In [162]:
import pandas as pd
import re
import numpy as np 
import nltk
import spacy

In [163]:
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from spacy.lang.en.stop_words import STOP_WORDS

Creating Pandas DataFrame of .json file

In [49]:
data = pd.read_json("Day_4_text_preprocessing.json",lines=True)

In [50]:
data.head()

,text,meta
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,{'source': 'E:\Resume Parser\resume parser\dat...
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,{'source': 'E:\Resume Parser\resume parser\dat...
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,{'source': 'E:\Resume Parser\resume parser\dat...
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,{'source': 'E:\Resume Parser\resume parser\dat...
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",{'source': 'E:\Resume Parser\resume parser\dat...

In [51]:
data.shape

(5, 2)

In [52]:
df =data.drop(['meta'],axis=1)

In [53]:
df.iloc[1]

text    ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...
Name: 1, dtype: object

In [54]:
df['text']

0    Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...
1    ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...
2    Abhilasha Shrivastava\nE-Mail abhilasha101@gma...
3    .\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...
4    AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...
Name: text, dtype: object

Extracting Emailsfrom DataFrame

In [55]:
df['Email_address']=df['text'].str.findall(r'[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+')

In [56]:
df['Email_address']

0       [mohit.niwadunge@gmail.com]
1                                []
2          [abhilasha101@gmail.com]
3    [abhishekthakur2006@gmail.com]
4           [man.david12@gmail.com]
Name: Email_address, dtype: object

Extracting Contact numbers from DataFrame

In [106]:
df['Contact No']=df['text'].str.findall(r'\b[789]\d{9}\b')

In [108]:
df['Contact No']

0                [7000526216]
1                          []
2                [7415857918]
3                [9302761661]
4    [7987613585, 8818868853]
Name: Contact No, dtype: object

In [109]:
df.head()

,text,Email_address,Phone_number_alt,years,Contact No
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,[mohit.niwadunge@gmail.com],[7000526216],"[2009, 2013, 2009, 2007]",[7000526216]
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,[],[],"[2014, 1991]",[]
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,[abhilasha101@gmail.com],[7415857918],"[2013, 2010, 2012, 2000, 2013, 1987]",[7415857918]
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,[abhishekthakur2006@gmail.com],[9302761661],"[2016, 1045, 2009, 2012, 2012, 2016, 2003, 200...",[9302761661]
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",[man.david12@gmail.com],"[7987613585, 8818868853]","[2013, 2016, 1983, 2013, 2016, 2014]","[7987613585, 8818868853]"

Extracting Date/years from DataFrame

In [110]:
df['years'] = df['text'].str.findall(r'\b[12]\d{3}\b')

In [111]:
df['years']

0                             [2009, 2013, 2009, 2007]
1                                         [2014, 1991]
2                 [2013, 2010, 2012, 2000, 2013, 1987]
3    [2016, 1045, 2009, 2012, 2012, 2016, 2003, 200...
4                 [2013, 2016, 1983, 2013, 2016, 2014]
Name: years, dtype: object

In [112]:
df.columns

Index(['text', 'Email_address', 'Phone_number_alt', 'years', 'Contact No'], dtype='object')

In [114]:
del df['Phone_number_alt']

In [115]:
df.head()

,text,Email_address,years,Contact No
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,[mohit.niwadunge@gmail.com],"[2009, 2013, 2009, 2007]",[7000526216]
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,[],"[2014, 1991]",[]
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,[abhilasha101@gmail.com],"[2013, 2010, 2012, 2000, 2013, 1987]",[7415857918]
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,[abhishekthakur2006@gmail.com],"[2016, 1045, 2009, 2012, 2012, 2016, 2003, 200...",[9302761661]
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",[man.david12@gmail.com],"[2013, 2016, 1983, 2013, 2016, 2014]","[7987613585, 8818868853]"

In [136]:
!pip install spacy
!python -m spacy download en

Requirement already satisfied: spacy in c:\users\codiant\anaconda3\lib\site-packages (3.2.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (4.62.3)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.4.0)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.9.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.26.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.0.6)
Requirement already satisfied: pathy>=0.3.5 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.6.1)
Requirement already satisfied: numpy>=1.15.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.20.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: jinja2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.11.3)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (0.7.5)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.4.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (2.0.6)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: setuptools in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (58.0.4)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (8.0.13)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (3.0.6)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.8.2)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (1.0.1)
Requirement already satisfied: packaging>=20.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from packaging>=20.0->spacy) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\codiant\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2.0.4)
Requirement already satisfied: colorama in c:\users\codiant\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\codiant\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\codiant\anaconda3\lib\site-packages (from jinja2->spacy) (1.1.1)
Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in c:\users\codiant\anaconda3\lib\site-packages (from en-core-web-sm==3.2.0) (3.2.1)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.9.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.7.5)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.62.3)
Requirement already satisfied: setuptools in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (58.0.4)
Requirement already satisfied: packaging>=20.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: jinja2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.11.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.26.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.13)
Requirement already satisfied: pathy>=0.3.5 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.8)
Requirement already satisfied: numpy>=1.15.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.20.3)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\codiant\anaconda3\lib\site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.4)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\codiant\anaconda3\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\codiant\anaconda3\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.4)
Requirement already satisfied: colorama in c:\users\codiant\anaconda3\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\codiant\anaconda3\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\codiant\anaconda3\lib\site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.1.1)
[!] As of spaCy v3.0, shortcuts like 'en' are deprecated. Please use the full
pipeline package name 'en_core_web_sm' instead.
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [138]:
from spacy.lang.en import English
nlp = English()

Preparing text coloumn value to tokenize

In [147]:
first_text = df.loc[0, 'text']
second_text = df.loc[1, 'text']
third_text = df.loc[2, 'text']
fourth_text = df.loc[3, 'text']
fifth_text = df.loc[4, 'text']

In [148]:
second_text

'ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSIONAL SYNOPSIS\n3 years and 8 month of experience as a Business Analyst and Project Coordination in the IT industries expertise in full software life-cycle implementation, Agile Mythology, production support, Requirements Gathering enhancement from business analysis and Project Coordination to managing complex IT projects. \nMade successful use of the opportunity to become part of vendor management and negotiations. Successfully managed high-profile regulatory and compliance projects globally. Leverage technical, business and financial acumen to communicate effectively with client executives and their respective teams. \nResourceful at maintaining relationships with clients to achieve quality product and service norms by resolving their service related critical issues, possess effective communication, interpersonal, problem solving ,understanding of SDLC processes and Agile flavored development methodologies Waterfall, Scrum, Agile Framework, Principles . \nKEY SKILLS \n\t Project Management \t \nBusiness Analysis \nAgile Mythology \nProject Coordination Wire-framing and Prototype \nRequirements Gathering Team Management \nBug Fixing / Maintenance BRD, SRS, FRD documentation. \n\t \nCORE COMPETENCIES \nExtensive experience of managing complex projects and product developments in the role of Product Owner \nExperience of working in synchronization with internal teams as Development QA and Project Manager. \nKnowledge of complete workflow of Scrum with product backlog, user story, sprint planning and release phases. \nConstantly studied and developed in-depth knowledge of industry trends, product line, competition, tech support and services. \nMapping client s needs providing best products to suit their requirements \nKnowledge of Business Requirement Documents BRD , Software Requirement Specification SRS , Functional \nRequirement Document, Technical Reports and all other high-level and low-level documents \nBuilding healthy business relations with major clients ensuring maximum customer satisfaction \nWorked with sales managers and engineers to increase technical know-how and to advance negotiations towards close of sale. \nTECHNICAL SKILLSET \nProject Management Methodologies Waterfall and Agile \nProject Management Tools Casual, MS Project, Slack \nProject Documentation BRD, SRS, Modules Document, Functional Document, Flow Document, Project Timesheet. \nPresentations Microsoft PowerPoint \nData Analysis Microsoft Excel and Project Modules \nPrototyping and Wireframing Balsamiq, Marvel \nTechnologies Knowledge MVC, MVP, PL/SQL, HTML/CSS, CMS, Mobile Applications, API Integration and MS SQL \nServer \nAutomated Testing Responsinator, JIRA \nOthers Photoshop, WordPress. \nWORK EXPERIENCE \nSince March 16 with Youngdecade Software IT Solutions, Indore as Business Analyst \nKey Result Areas \nWorking directly with product owners and stakeholders to elicit their feedback on customer satisfaction items. \nAnalyzing existing customer satisfaction functionality requests for providing business-value based recommendations to Product Owners. \nLead project meetings, Handling Multiple Projects at a time, Single point of contact between the client and the organization. \nAttend Post Sales meetings with Project Manager for in-depth requirement gathering. \nProject Planning, Project Scheduling, Project Efforts Estimations, Project Communications and Execution. \nResponsible to Project management - Estimate task , Papered Timeline , check Project /Product status, Resource allocation, resource utilization, Business analysis and send daily status to management. \nSupport to QA Team for test case preparation and review of test plans. \nControls all changes through a formalized change request process, assessing the impact of requirement changes, and updating requirements appropriately Ability to work across different stakeholders and priorities and get everyone on-boarded with the overall prioritization of product backlog/roadmap items. \nConducting requirements training sessions and developing best practices for product delivery. \nPartnering with Development Leads to identify opportunities for better collaboration and process improvements. \nLeading a team of 3 Junior Business Analyst and Business Developers promoting a strong culture of standard Business Development and Business Analysis processes as part of global standards \nAccomplishments \nCMS, Web Apps, Mobile Apps with Native Hybrid Technologies,B2B B2C Ecommerce Marketplaces, Restaurant, Cab Bookings, Real State, Hotel Booking Engines, Dating Application and complex business process project. \nEstablished large, high-performance IT teams to support IT regional operations utilized local resources and established cost savings. \nSingle point of contact between Project Management and IT groups from solution planning, sizing, to fulfillment. \nJuly 15 Feb 16 with SNV InfoTech PVT, Indore as Business Analyst \nKey Result Areas \nAnalyzed user requirements, performed impact analysis and generated system requirements documents. \nManaged relationship with programmers and bridged communication between end users and development team. \nSupervised quality and completeness of System Use Cases/ BRDs. \nCollaborated with the project team in solution development and implementation. \nExperience in web development, Wireframe Creation, using Microsoft technology \nPresented the business solution to the client. \nActively participated in data modeling and business modeling \nAccomplishments \nSingle-handedly implemented a Train Location app to locate train and for live status. \nDeveloped a Gaming code lottery system that was recognized by the gaming server to choose random winner with awarded game code. \nDesign end to end data flow with the help of BPM and also preparing the screen mock ups and design and develop the application architecture. \nMay 14 June 15 with Webdex Technologies., Indore as Business Analyst \nResult Areas \nUnderstanding of UML design. \nProject Coordination with Developers and designers. \nExcellent understanding of Business Requirements Gathering, Translating Requirements into Specifications and Application Design. \nBidding on Freelancing Portals - UpWork, Elance, Freelancer, RFP Mart and Craigslist. \nWordPress Website Development and Designing Skills with HTML/CSS. \nManaged project activities such as requirement gathering, analysis and documentation. \nPrepared test plans for the testing team and performed user acceptance testing in the final project \nAccomplishment \nSuccessfully implemented cutting-edge IT and Voice infrastructure for new building facilities. \nEDUCATION \nBachelor of Engineering Information Technology From RGPV University in 2014 \nPERSONAL DETAILS \nDate of Birth 05.06.1991 \nPassport Available'

In [154]:
my_doc1 = nlp(first_text)
my_doc2 = nlp(second_text)
my_doc3 = nlp(third_text)
my_doc4 = nlp(fourth_text)
my_doc5 = nlp(fifth_text)

In [179]:
token_list1 = []

for token in my_doc1:
    token_list1.append(token.text)

print("tokens in text before removing punctuations and stopwords",len(token_list1))
text_doc1=nlp(my_doc1)

token_count_after_filters1 = 0

filtered_text1= [token for token in text_doc1 if not token.is_stop and not token.is_punct]

for token in filtered_text1:
    len(token)
    token_count_after_filters1 +=1
print("tokens in text after removing punctuations and stopwords",token_count_after_filters1)

tokens in text before removing punctuations and stopwords 904
tokens in text after removing punctuations and stopwords 586

In [180]:
token_list2 = []

for token in my_doc2:
    token_list2.append(token.text)

print("tokens in text before removing punctuations and stopwords",len(token_list2))
text_doc2=nlp(my_doc2)

token_count_after_filters2 = 0

filtered_text2= [token for token in text_doc2 if not token.is_stop and not token.is_punct]

for token in filtered_text2:
    len(token)
    token_count_after_filters2 +=1
print("tokens in text after removing punctuations and stopwords",token_count_after_filters2)

tokens in text before removing punctuations and stopwords 1100
tokens in text after removing punctuations and stopwords 751

In [181]:
token_list3 = []

for token in my_doc3:
    token_list3.append(token.text)

print("tokens in text before removing punctuations and stopwords",len(token_list3))
text_doc3=nlp(my_doc3)

token_count_after_filters3 = 0

filtered_text3= [token for token in text_doc3 if not token.is_stop and not token.is_punct]

for token in filtered_text3:
    len(token)
    token_count_after_filters3 +=1
print("tokens in text after removing punctuations and stopwords",token_count_after_filters3)

tokens in text before removing punctuations and stopwords 2356
tokens in text after removing punctuations and stopwords 1404

In [182]:
token_list4 = []

for token in my_doc4:
    token_list4.append(token.text)

print("tokens in text before removing punctuations and stopwords",len(token_list4))
text_doc4=nlp(my_doc4)

token_count_after_filters4 = 0

filtered_text4= [token for token in text_doc4 if not token.is_stop and not token.is_punct]

for token in filtered_text4:
    len(token)
    token_count_after_filters4 +=1
print("tokens in text after removing punctuations and stopwords",token_count_after_filters4)

tokens in text before removing punctuations and stopwords 1486
tokens in text after removing punctuations and stopwords 1145

In [183]:
token_list5 = []

for token in my_doc5:
    token_list5.append(token.text)

print("tokens in text before removing punctuations and stopwords",len(token_list5))
text_doc5=nlp(my_doc5)

token_count_after_filters5 = 0

filtered_text5= [token for token in text_doc5 if not token.is_stop and not token.is_punct]

for token in filtered_text5:
    len(token)
    token_count_after_filters5 +=1
print("tokens in text after removing punctuations and stopwords",token_count_after_filters5)

tokens in text before removing punctuations and stopwords 1968
tokens in text after removing punctuations and stopwords 1190

In [185]:
preprocessed_data = [filtered_text1,filtered_text2,filtered_text3,filtered_text4,filtered_text5]

In [186]:
df['preprocessed_data'] = preprocessed_data

In [190]:
tokens_after_filter = [token_count_after_filters1,token_count_after_filters2, token_count_after_filters3, token_count_after_filters4, token_count_after_filters5]

In [191]:
tokens_before_filter = [len(token_list1),len(token_list2),len(token_list3),len(token_list4),len(token_list5)]

In [192]:
df['tokens_before_filter'] = tokens_before_filter

In [193]:
df['tokens_after_filter'] = tokens_after_filter

In [194]:
df.head()

,text,Email_address,years,Contact No,text_str,tokenized_sents,preprocessed_data,tokens_before_filter,tokens_after_filter
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,[mohit.niwadunge@gmail.com],"[2009, 2013, 2009, 2007]",[7000526216],Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,"[Mohit, Rao, Niwadunge, Email, ID, mohit.niwad...","[Mohit, Rao, Niwadunge, \n\t \t , Email, ID, m...",904,586
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,[],"[2014, 1991]",[],ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,"[ABHAY, RAJ, SINGH, Business, Analyst, PROFESS...","[ABHAY, RAJ, SINGH, \n, Business, Analyst, \n,...",1100,751
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,[abhilasha101@gmail.com],"[2013, 2010, 2012, 2000, 2013, 1987]",[7415857918],Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,"[Abhilasha, Shrivastava, E-Mail, abhilasha101,...","[Abhilasha, Shrivastava, \n, E, Mail, abhilash...",2356,1404
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,[abhishekthakur2006@gmail.com],"[2016, 1045, 2009, 2012, 2012, 2016, 2003, 200...",[9302761661],.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,"[., ABHISHEK, SINGH, THAKUR, UI, UX, DESIGNER,...","[\n, ABHISHEK, SINGH, THAKUR, \n, UI, UX, DESI...",1486,1145
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",[man.david12@gmail.com],"[2013, 2016, 1983, 2013, 2016, 2014]","[7987613585, 8818868853]","AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...","[AMAN, DAVID, 115-B, Anand, Nagar, Gawali, Pal...","[AMAN, DAVID, \n, 115, B, Anand, Nagar, Gawali...",1968,1190

In [195]:
df.columns

Index(['text', 'Email_address', 'years', 'Contact No', 'text_str',
       'tokenized_sents', 'preprocessed_data', 'tokens_before_filter',
       'tokens_after_filter'],
      dtype='object')

In [197]:
del df['text_str']

In [198]:
del df['tokenized_sents']

In [200]:
df.head()

,text,Email_address,years,Contact No,preprocessed_data,tokens_before_filter,tokens_after_filter
0,Mohit Rao Niwadunge\n\t \t Email ID mohit.niwa...,[mohit.niwadunge@gmail.com],"[2009, 2013, 2009, 2007]",[7000526216],"[Mohit, Rao, Niwadunge, \n\t \t , Email, ID, m...",904,586
1,ABHAY RAJ SINGH\nBusiness Analyst \nPROFESSION...,[],"[2014, 1991]",[],"[ABHAY, RAJ, SINGH, \n, Business, Analyst, \n,...",1100,751
2,Abhilasha Shrivastava\nE-Mail abhilasha101@gma...,[abhilasha101@gmail.com],"[2013, 2010, 2012, 2000, 2013, 1987]",[7415857918],"[Abhilasha, Shrivastava, \n, E, Mail, abhilash...",2356,1404
3,.\nABHISHEK SINGH THAKUR\nUI UX DESIGNER \nH.N...,[abhishekthakur2006@gmail.com],"[2016, 1045, 2009, 2012, 2012, 2016, 2003, 200...",[9302761661],"[\n, ABHISHEK, SINGH, THAKUR, \n, UI, UX, DESI...",1486,1145
4,"AMAN DAVID\n115-B Anand Nagar Gawali Palasia, ...",[man.david12@gmail.com],"[2013, 2016, 1983, 2013, 2016, 2014]","[7987613585, 8818868853]","[AMAN, DAVID, \n, 115, B, Anand, Nagar, Gawali...",1968,1190